<manifest package="com.professornotas.app" xmlns:android="http://schemas.android.com/apk/res/android">
  <application
      android:allowBackup="true"
      android:label="ProfessorNotas"
      android:theme="@style/Theme.ProfessorNotas">
      <activity android:name=".ui.AddStudentActivity" />
      <activity android:name=".ui.StudentListActivity" />
      <activity android:name=".ui.DashboardActivity" />
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
          <intent-filter>
              <action android:name="android.intent.action.MAIN" />
              <category android:name="android.intent.category.LAUNCHER" />
          </intent-filter>
      </activity>
  </application>
</manifest>
